---
layout: default
youtube-id: E9Mcmcm0ADo
---
<!-- this is the PRESETS page -->

{% assign presets = site.products_preset %}
{% assign featuredPresets = presets | where:'featured','true'%}


<!-- SHOP PAGE: FEATURED PRESET ------------>
<section class="grid grid-cols-2 min-h-80vh pt-36">

    {% for item in featuredPresets limit:1 %}

    <div class="bg-cover bg-center p-8 flex inline-flex">
        <img src="{{item.featured-image}}"></img>
    </div>

    <div class="p-8 self-center">
        <h2 class="pb-8 text-center text-cyan-900 font-marker text-2xl"> THIS IS THE FEATURED PRESET </h2>
        <div class="font-featured p-8">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi laborum temporibus debitis, voluptates perspiciatis odit cupiditate aliquid aliquam officiis praesentium vero unde deleniti iste enim porro iure? Laboriosam, odit.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi laborum temporibus debitis, voluptates perspiciatis odit cupiditate aliquid aliquam officiis praesentium vero unde deleniti iste enim porro iure? Laboriosam, odit.</p>
        </div>

        
    </div>
    {% endfor %}
</section>


<!-- most popular presets -->


<section class="justify-center align-center  flex p-28 pt-80 ">
    <h2 class = 'font-marker text-4xl lg:text-9xl  text-cyan-900  flex items-center p-16'> Most Popular Presets</h2>
    
    <div class=" grid grid-cols-3 gap-2">
        {% for item in featuredPresets limit:3%}
        <a href="{{item.url}}">
        <!-- this loop animates the presets on scroll -->
        <div class="border-zinc-500 text-cyan-900 relative text-center flex flex-col " 
            {% if forloop.index == 1 %} data-aos="fade-up"
            {% elsif forloop.index == 2 %} data-aos="fade-right" data-aos-delay="300"
            {% else %} data-aos="fade-right" data-aos-delay="600"
        {% endif %}>
        <!--  end of animation  -->
            <img src="{{item.featured-image}}" class="min-h-80vh object-cover "></img>
            <div class="hover:bg-cyan-900/40 absolute inset-0 rounded-b-full">   </div>
            <h2 class="text-xl pt-8"> {{item.title}}</h2>
            <p class="pb-8"> {{item.price}}</p>
            

        </div>
  
    </a>
        {% endfor %}
</div>


   
</section>



<section class="p-36 gap-6 text-center">
    <h2 class = 'p-16 font-marker text-4xl text-cyan-900'> Most Popular Presets</h2>
    <div class="grid grid-cols-3">
        {% for item in featuredPresets limit:3%}
            <div class="grid p-4 font-featured">
                <img src="{{item.featured-image}}"></img>
                <h2 class="text-xl  pt-5 text-cyan-900"> {{item.title}}</h2>
                <p> {{item.price}}</p>
            </div>
            {% endfor %}
    </div>
  
    </section>

<!-- this is the before and after gallery --------->


    <section class="font-marker">
        <div class='ba-container'>
          <div class='ba-img ba-background-img relative'>
            <div class="pl-[55vw] align-text-top">
                <p class="p-16 text-3xl">a<br>f<br>t<br>e<br>r</p>
            </div>
          </div>
          <div class='ba-img ba-foreground-img relative overflow-hidden'>
            <div class="pl-[55vw] align-text-top p-16 text-3xl text-red-50">
                <p>b<br>e<br>f<br>o<br>r<br>e</p>
            </div>
       
          </div>
          <input type="range" min="1" max="100" value="50" class="ba-slider" name='ba-slider' id="ba-slider">
          <div class='ba-slider-button font-marker text-cyan-900 text-4xl '>
              

          </div>

        </div>
    </section>







<!-- this is a video showing how to use presets -->

<section class="relative flex place-content-center p-36">
    <div class="plyr__video-embed" id="player">
        <iframe width="1000" height="600"
        src="https://www.youtube.com/embed/{{ page.youtube-id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"allowfullscreenallowtransparency
        allow="autoplay">
        </iframe>
    </div>
</section>



<!-- testimonials -->

<section class= "p-36 text-center">
    <div>
        <h1 class= "pb-8 text-2xl text-cyan-900 text-2xl"> Love from our Clients! </h1>
        <div class="slider-container">


        {% assign testimonial = site.data.testimonials | where:'product-type','preset'%}
        {% for item in testimonial limit: 3%}
        <div class="font-featured slider-item p-8">
            <p class="text-xl"> {{item.quote}}</p>
            <h3> {{item.author}}</h3>
        </div>
        {% endfor %}
        </div>
    </div>
</section>









    

<!--  PRESET FAQ loop --------------->
<!-- 
<section class="p-5p text-center">
    <h3 class=""> Frequently asked questions</h3>
{% assign faq = site.data.faqs %}
{% assign presetFaqs = faqs | where: 'type', 'preset'%}

<h2> Preset FAQs</h2>

{% for item in presetFaqs %}

<div>
    <h3> {{item.question}} </h3>
    <p> {{item.answer}}</p>
</div>

{% endfor %}

</section> -->

<section class=" text-center">

    <h2 class="p-8 text-cyan-900 
    border-2 grid-cols-12 text-2xl"> Frequently Asked Questions </h2>
    
    {% include faq-ebook.html %}
    
</section>


    
    




