---
layout: default
---
<!-- this is the shop page -->

{% assign ebooks = site.products_ebook %}
{% assign featuredEbooks = ebooks | where:'featured','true'%}
{% assign presets = site.products_preset %}
{% assign featuredPresets = presets | where:'featured','true'%}


<!-- SHOP PAGE: FEATURED EBOOKS ------------>

<section class="grid grid-cols-2 p-36 min-h-80vh pb-36">

    {% for item in featuredEbooks limit:1 %}

    <div class="bg-cover bg-center p-8 flex inline-flex">
        <img src="{{item.featured-image}}"></img>
    </div>

    <div class="p-8 self-center">
        <h2 class="pb-8 text-center text-cyan-900 font-marker text-2xl"> THIS IS THE FEATURED PRESET </h2>
        <div class="font-featured p-8">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi laborum temporibus debitis, voluptates perspiciatis odit cupiditate aliquid aliquam officiis praesentium vero unde deleniti iste enim porro iure? Laboriosam, odit.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi laborum temporibus debitis, voluptates perspiciatis odit cupiditate aliquid aliquam officiis praesentium vero unde deleniti iste enim porro iure? Laboriosam, odit.</p>
        </div>

        
    </div>
    {% endfor %}
</section>

<!-- most POPULAR ITEMS  -->


<section class="grid grid-cols-3  gap-10 p-20 bg-cyan-800 min-h-90vh">
{% for item in featuredEbooks offset:1 limit:3 %}

    <div class="text-blue-50">
        <img src="{{item.featured-image}}"></img>
        <div class="text-center p-4">
            <h3 class="text-xl uppercase font-marker"> {{item.title}}</h3>
            <p class="font-featured"> {{item.price}}</p>
        </div>
     
    </div>
    {% endfor %}
{% for item in featuredPresets offset:1 limit:3 %}
    <div class="text-blue-50">
        <img src="{{item.featured-image}}"></img>
        <div class="text-center uppercase p-4">
            <h3 class="text-xl uppercase font-marker"> {{ item.title}} </h3>
            <p class="font-featured"> {{item.price}}</p>
        </div>
    </div>
{% endfor %}
</section>


    
    


<!-- testimonials -->

<section class= "p-36 text-center">
    <div>
        <h1 class= "pb-8 text-2xl text-cyan-900 text-2xl"> Love from our Clients! </h1>
        <div class="slider-container">


        {% assign testimonial = site.data.testimonials | where:'product-type','preset'%}
        {% for item in testimonial limit: 3%}
        <div class="font-featured slider-item p-16">
            <p class="text-xl"> {{item.quote}}</p>
            <h3> {{item.author}}</h3>
        </div>
        {% endfor %}
        </div>
    </div>
</section>




