@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
    .expandButton::after {
        content: '\02795';
    }
    
    .active::after {
        content: '\2212';
    }
        .expandable {
            overflow: hidden;
            max-height: 5rem;
            transition: .8s;
        }
    
        .collapse {
            overflow: hidden;
            max-height: 0;
            padding: 0;
            transition: .5s;
        }
    
}

.button {
    @apply inline-block p-6 bg-blue-600 text-white hover:bg-blue-800 transition;
}


/* --------------font styles---------- */

h1,h2,h3 {
    @apply font-marker;

}

.hidden {
    display: none;
}

.expandButton::after {
    content: '\02795';
}

.active::after {
    content: '\2212';
}
    .expandable {
        overflow: hidden;
        max-height: 5rem;
        transition: .8s;
    }

    .collapse {
        overflow: hidden;
        max-height: 0;
        padding: 0;
        transition: .5s;
    }

/* ----------------SLICK SLIDER STYLES ------------ */
/* IF USING ARROWS ON SLIDER USE THESE CLASSES */

.slick-prev {
    left: 0px;
}

.slick-next::before, .slick-prev::before{
    opacity: .55;
    color: rgb(12, 74, 110)
}

/* SLICK DOTS STYLE */

.slick-next {
    right: 0px;
    color: 
}


/* styles for the before and after slider  */


.ba-container {
  position: relative;
  width: 75%; /* change this to suit your design */
  padding-bottom: 50%;
  border: 2px solid white;
  margin:auto;
}
.ba-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 75vw; /* change this to suit your design */
  background-position: left;
}
.ba-background-img {
  background-image: url('/assets/images/placeholder.jpeg');
}
.ba-foreground-img {
  background-image: url('/assets/images/BW-placeholder.jpeg');
  width: 50%;
}
.ba-slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .ba-slider:hover {
   background: rgba(242, 242, 242, 0.1);
}
.ba-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 100%;
  background: white;
  cursor: pointer;
}
.ba-slider::-moz-range-thumb {
  width: 6px;
  height: 100%;
  background: white;
  cursor: pointer;
}
.ba-slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ba-slider-button:after {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.ba-slider-button:before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}
