
<!-- EBOOK FAQ loop --------------->

<section class="font-featured p-8">
{% assign faq = site.data.faqs | where: 'type', 'ebook' %}
<!-- {{ebookFaqs}} -->
{% for item in faq %}

    <div class="">
        <button class="expandButton flex justify-between expandButton p-6 bg-stone-100 cursor-pointer w-full hover:bg-stone-200" data-target-button="{{forloop.index}}">
            
            <h3 class="font-featured text-5xl"> {{item.question}} </h3>

        </button>
        <div class="expandable collapse" data-target-more="{{forloop.index}}">
            <p> {{item.answer}}</p>
        </div>
        
    </div>

{% endfor %}

</section>
