<!-- ---
layout: default
---

<section class="p-5p text-center">
    <h3 class=""> Frequently asked questions</h3>
    
-- General FAQ loop ---------------
{% assign faq = site.data.faqs %}
{% assign generalFaqs - faqs | where: 'type', general'%}

<h2>General FAQs</h2>

{% for item in generalFaqs %}

<div>
    <h3> {{item.question}} </h3>
    <p> {{item.answer}}</p>
</div>s

{% endfor %}
</section>


<section class="p-5p text-center">
    <h3 class=""> Frequently asked questions</h3>
    
--  PRESET FAQ loop ---------------
{% assign faq = site.data.faqs %}
{% assign presetFaqs - faqs | where: 'type', preset'%}

<h2> Preset FAQs</h2>

{% for item in presetFaqs %}

<div>
    <h3> {{item.question}} </h3>
    <p> {{item.answer}}</p>
</div>

{% endfor %}

</section>




<section class="p-5p text-center">
    <h3 class=""> Frequently Asked Questions</h3>
    
-- EBOOK FAQ loop ---------------
{% assign faq = site.data.faqs %}
{% assign ebookFaqs - faqs | where: 'type', ebook'%}

<h2> Ebook FAQs</h2>

{% for item in ebookFaqs %}

<div>
    <h3> {{item.question}} </h3>
    <p> {{item.answer}}</p>
</div>

{% endfor %}

</section> -->
 
