<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
   


</head>

<body>
    
    <header class= "flex border-8 text-center p-[5px] py-16 ">
        <!-- this is where we will have an includes to link the header information  -->

        <h1 class="uppercase text-7xl tracking-wider"> logo</h1>
        <nav>
            <a href="#" class="p-8"> Shop</a>
            <a href="#" class="p-8"> Home </a>
            <a href="#" class="p-8"> About</a>
        </nav>

    </header>

    <!-- this content is getting pulled from ebook.html, presets.html  -->
        {{content}}
   
    <footer>
     <!-- this is where we will have an includes to link the header information  -->
    
     <h1 class="uppercase text-7xl "> logo</h1>
     <nav>
         <a href="#" class="p-8"> Shop</a>
         <a href="#" class="p-8"> Home </a>
         <a href="#" class="p-8"> About</a>
     </nav>

    </footer>
        <script>
        var MemberSpace = window.MemberSpace || {"subdomain":"cloudvent2"};
        (function(d){
          var s = d.createElement("script");
          s.src = "https://cdn.memberspace.com/scripts/widgets.js";
          var e = d.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(s,e);
        }(document));
        </script>
</body>

</html>


