---
layout: default
---

<section class="grid grid-cols-3 p-8 gap-6">
    {% for item in featuredPresets limit:3 %}
        <div class="flex inline-flex">
            <img src="{{item.featured-image}}"></img>
            <h3> {{ item.title}} </h3>
            <p> {{item.price}}</p>
        </div>
    {% endfor %}
</section>
    
    
    <section class="grid grid-cols-3 p-8 gap-6">
        {% assign ebooks = site.products-ebooks %}
        {% assign featuredPresets = preset%}
      
        
            <div class="p-5 grid sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for item in featuredEbooks limit:9 %}
    
                <img src="{{item.featured-image}}"></img>
                <h2 class="text xl"> {{item.title}}</h2>
                <p> {{item.price}}</p>
            </div>
        {% endfor %}
    </section>
        

{% assign presets = site.products_preset %}
{% assign featuredPresets = presets | where:'featured','true'%}
        

